@import 'variable.less';

* {
  margin: 0;
  padding: 0;
  font-family: 'sf regular';
  font-size: 14px;
}

body, html {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}



body {
  display: flex;
  flex-direction: row;
}

.left-container {
  height: 100%;
  width: 320px;
  background-color: @blue;
  color: white;


  ul {
    margin-left: 20px;
  }

  li {
    margin-bottom: 10px;
    color: white;
    a {
      color: white;
      text-transform: none;
      text-decoration: none;
    }
  }

  .logo {
    height: 60px;
    width: 100%;
  }
}

.right-container {
  height: 100%;
  flex: 1
}

.input-section {
  margin-bottom:10px;
}

.delete-btn {
  background-color: #C2185B !important;
}

.app-btn {
  display:inline-block;
  width:70px;
  height:30px;
  line-height:30px;
  text-align: center;

  background-color: #006699;
  color:white;
}

.sidebar-nav {
  li {
    transition:all 0.5s ease;
  }
  a {
    color:white;
  }

  a:visited {
    color:white;
  }

  margin-left: 20px;
  .logo-wrapper {
    height:60px;
    line-height:60px;

  }

  .menus-wrapper {

    .nav-submenu {
      overflow:hidden;
      max-height: 0;
      margin-left:10px;
      transition:height 0.8s ease;
    }
    .nav-submenu.subactive {
      overflow:hidden;
      display:block;
      max-height: 500px;
      background-color: #1976D2;
      transition:all 0.8s ease;
      margin-left: -20px;
      padding-left: 40px;
      padding-top: 10px;
    }

  }
}
































