* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body,
html {
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
}
body {
  display: flex;
  flex-direction: row;
}
.left-container {
  height: 100%;
  width: 320px;
  background-color: #3F5185;
  color: white;
}
.left-container ul {
  margin-left: 20px;
}
.left-container li {
  margin-bottom: 10px;
  color: white;
}
.left-container li a {
  color: white;
  text-transform: none;
  text-decoration: none;
}
.left-container .logo {
  height: 60px;
  width: 100%;
}
.right-container {
  height: 100%;
  flex: 1;
}
.header-section {
  height: 50px;
  width: 100%;
}
.detail-section,
.detail-items-section {
  margin-left: 30px;
}
.detail-items-section li {
  display: flex;
}
.detail-items-section li .app-input-container {
  width: 60px;
}
.detail-items-section li .app-select-container {
  width: 60px;
}
.detail-items-section li div {
  flex: 1;
}
.button-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-button {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #3F5185;
  color: white;
  text-transform: none;
  text-decoration: none;
}
.confirm-button:hover {
  color: white;
  text-transform: none;
  text-decoration: none;
}
.app-input-container {
  display: flex;
  margin-bottom: 10px;
  width: 400px;
  flex: 1;
}
.app-input-container .input-label {
  flex: 1;
}
.app-input-container .input-content {
  flex: 1;
}
.app-select-container {
  display: flex;
  margin-bottom: 10px;
  width: 400px;
}
.app-select-container .input-label {
  flex: 1;
}
.app-select-container .input-content {
  flex: 1;
}
.detail-items-section .series-items-wrapper input {
  width: 90px;
}
.daily-detail-container .detail-items-section {
  display: flex;
}
.daily-detail-container .detail-items-section .daily-items-wrapper {
  flex: 1;
}
.daily-detail-container .detail-items-section .daily-items-wrapper ul {
  width: 100%;
}
.daily-detail-container .detail-items-section .daily-items-wrapper li {
  display: flex;
  text-align: center;
}
.daily-detail-container .detail-items-section .daily-items-wrapper li div {
  flex: 1;
}
.daily-detail-container .detail-items-section .new-item-wrapper {
  flex: 1;
}
.daily-detail-container .detail-items-section .type-item-wrapper {
  flex: 1;
}
