@font-face {
  font-family: 'sf medium';
  src: url(../../../fonts/SFUIText-Medium.ttf);
}
@font-face {
  font-family: 'sf regular';
  src: url(../../../fonts/SFUIText-Regular.ttf);
}
@font-face {
  font-family: 'sf semibold';
  src: url(../../../fonts/SFUIText-Semibold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'sf regular';
  font-size: 14px;
}
body,
html {
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
}
body {
  display: flex;
  flex-direction: row;
}
.left-container {
  height: 100%;
  width: 320px;
  background-color: #3F5185;
  color: white;
}
.left-container ul {
  margin-left: 20px;
}
.left-container li {
  margin-bottom: 10px;
  color: white;
}
.left-container li a {
  color: white;
  text-transform: none;
  text-decoration: none;
}
.left-container .logo {
  height: 60px;
  width: 100%;
}
.right-container {
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.input-section {
  margin-bottom: 10px;
}
.delete-btn {
  background-color: #C2185B !important;
}
.app-btn {
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #006699;
  color: white;
}
.sidebar-nav {
  margin-left: 20px;
}
.sidebar-nav li {
  transition: all 0.5s ease;
}
.sidebar-nav a {
  color: white;
}
.sidebar-nav a:visited {
  color: white;
}
.sidebar-nav .logo-wrapper {
  height: 60px;
  line-height: 60px;
}
.sidebar-nav .menus-wrapper .nav-submenu {
  overflow: hidden;
  max-height: 0;
  margin-left: 10px;
  transition: height 0.8s ease;
}
.sidebar-nav .menus-wrapper .nav-submenu.subactive {
  overflow: hidden;
  display: block;
  max-height: 500px;
  background-color: #1976D2;
  transition: all 0.8s ease;
  margin-left: -20px;
  padding-left: 40px;
  padding-top: 10px;
}
.header-section {
  height: 50px;
  width: 100%;
  margin-left: 30px;
  line-height: 50px;
  font-size: 21px;
}
.detail-section,
.detail-items-section {
  margin-left: 30px;
}
.detail-items-section li {
  display: flex;
}
.detail-items-section li .app-input-container {
  width: 60px;
}
.detail-items-section li .app-select-container {
  width: 60px;
}
.detail-items-section li div {
  flex: 1;
}
.detail-items-section .daily-items-wrapper {
  margin-left: 10px;
}
.detail-items-section .new-item-wrapper {
  margin-left: 10px;
}
.button-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-button {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #3F5185;
  color: white;
  text-transform: none;
  text-decoration: none;
}
.confirm-button:hover {
  color: white;
  text-transform: none;
  text-decoration: none;
}
.app-input-container {
  display: flex;
  margin-bottom: 10px;
  flex: 1;
}
.app-input-container .input-label {
  flex: 1;
}
.app-input-container .input-content {
  flex: 1;
}
.app-select-container {
  display: flex;
  margin-bottom: 10px;
}
.app-select-container .input-label {
  flex: 1;
}
.app-select-container .input-content {
  flex: 1;
}
.daily-series-container .add-type-section {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  height: 100px;
  margin-bottom: 20px;
}
.detail-items-section .series-items-wrapper input {
  width: 90px;
}
.daily-detail-container {
  position: relative;
}
.daily-detail-container .detail-items-section {
  display: flex;
}
.daily-detail-container .detail-items-section .daily-items-wrapper {
  flex: 0.8;
}
.daily-detail-container .detail-items-section .daily-items-wrapper table {
  width: 100%;
}
.daily-detail-container .detail-items-section .daily-items-wrapper table tr {
  height: 30px;
}
.daily-detail-container .detail-items-section .new-item-wrapper,
.daily-detail-container .detail-items-section .type-item-wrapper {
  flex: 0.7;
}
.daily-detail-container .detail-items-section .new-item-wrapper label,
.daily-detail-container .detail-items-section .type-item-wrapper label {
  display: inline-block;
  width: 70px;
}
.daily-detail-container .detail-items-section .new-item-wrapper input,
.daily-detail-container .detail-items-section .type-item-wrapper input {
  width: 180px;
}
.daily-detail-container .detail-items-section .type-item-wrapper {
  flex: 1;
}
.daily-detail-container .chart-section {
  position: absolute;
  right: -400px;
  width: 400px;
  height: 400px;
  top: 50px;
  background-color: #ccc;
  transition: all 0.5s ease;
  z-index: 10;
}
.daily-detail-container .chart-section.active {
  right: 0px;
}
.film-something-container textarea {
  width: 100%;
  height: 120px;
}
.film-something-container .btn {
  width: 100px;
  height: 30px;
  color: white;
  padding: 10px;
}
.film-something-container .btn-confirm {
  background-color: #006699;
}
.film-something-container .btn-cancel {
  background-color: #C2185B;
}
.book-list-container .nav-section li {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 10px;
  float: left;
  margin-right: 5px;
}
.book-list-container .nav-section li.active {
  border-bottom: 2px solid #006699;
  color: #006699;
}
.book-something-container textarea {
  width: 100%;
  height: 120px;
}
.book-something-container .btn {
  width: 100px;
  height: 30px;
  color: white;
  padding: 10px;
}
.book-something-container .btn-confirm {
  background-color: #006699;
}
.book-something-container .btn-cancel {
  background-color: #C2185B;
}
.dashboard-container {
  padding-left: 30px;
}
.dashboard-container .seven-days-top-list {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  position: relative;
}
.dashboard-container .seven-days-top-list label {
  display: inline-block;
}
