<div class="newword-container">
    <div class="box-header-title">
        <label>New Word</label>
    </div>
    <div class="two-column-section">
        <div class="box-row">
            <div class="box-label-group">Text</div>
            <div class="box-input-group">
                <input type="text" ng-model="word.text"/>
            </div>
        </div>
        <div class="box-row">
            <div class="box-label-group">Word</div>
            <div class="box-input-group">
                <input type="text" ng-model="word.name"/>
            </div>
        </div>
        <div class="box-row">
            <div class="box-label-group">Mean</div>
            <div class="box-input-group">
                <textarea ng-model="word.mean"></textarea>
            </div>
        </div>
        <div class="box-row">
            <div class="box-label-group">Star</div>
            <div class="box-input-group">
                <select  ng-model="word.star"
                        ng-options="item.id as item.name for item in word_star">
                </select>
            </div>
        </div>
        <div class="box-row">
            <div class="box-label-group">File</div>
            <div class="box-input-group">
                <div class="select-button button btn btn-default" ngf-select="upload($file)" ng-model="word.image" ngf-accept="'image/*'">Select</div>
            </div>
        </div>
        <div class="box-row">
            <div class="box-label-group">
                <button class="btn btn-primary" ng-click="add(word)">Add</button>
            </div>
        </div>

    </div>
</div>