<div class="series-add-container">
    <div class="form-container">
        <app-input  type="text" title="Name" val="newseries.name" placeholder="Type series name"  editable="true"></app-input>
    </div>
    <div>
        <button ng-click="add()">Add</button>
    </div>


    <div class="form-container">
        <app-select list="series" title='Series' val="selectedseries" placeholder="select one series" editable="true" ></app-select>
        <app-input  type="text"  list="num" title="Number" val="newitem.num" placeholder="episode num" editable="true"></app-input>
        <app-input  type="text"  list="comment" title="Comment" val="newitem.comment" placeholder="episode num" editable="true"></app-input>
        <app-input  type="date"  list="date" title="Date" val="newitem.date" placeholder="date" editable="true"></app-input>
    </div>
    <div>
        <button ng-click="addItem()">Add Item</button>
    </div>
</div>