<div class="series-detail-container">
    <div class="header-section">

    </div>
    <div class="detail-section">
        <a href='javascript:void(0)' ng-click="edit()">{{control.detail_editable? 'Finish': 'Edit'}}</a>
        <app-input type="text" val="series.name" title="Name" editable="control.detail_editable"></app-input>
        <app-input type="date"  val="series.date" title="Date" editable="control.detail_editable" ></app-input>
        <app-select list="series_status" val="series.selected_status" showcol="name" title="Status" editable="control.detail_editable"></app-select>
    </div>
    <div class="detail-items-section">
        <div style=" margin-bottom:10px;">Info</div>
        <ul class="series-items-wrapper">
            <li ng-repeat="item in series.items" style="width:400px; margin-bottom:10px;">
                <div style="flex:0.5">
                    {{item.num}}
                </div>
                <div>
                    {{item.date}}
                </div>
                <div>
                    {{item.comment}}
                </div>
            </li>
        </ul>
    </div>
    <div class="button-section">
        <a href="javascript:void(0)" class="confirm-button" ng-click="series.update()">CONFIRM</a>
    </div>
</div>