<div class="daily-book-container">
    <div class="form-container">
        <div class="input-section">
            <label class="input-label">daily id</label>
            <span>{{$ctrl.dailyitemid}}</span>
        </div>
        <div class="input-section">
            <label>Book</label>
            <input type="text" placeholder="book name" ng-model="$ctrl.newitem.name">
        </div>
        <div class="input-section">
            <label class="input-label">Authoer</label>
            <input type="text" placeholder="number" ng-model="$ctrl.newitem.author">
        </div>
        <div class="input-section">
            <label>Comment</label>
            <ui-select ng-model="$ctrl.newitem.comment" style="width: 100px;" theme="select2" search-enabled="false"
                       title="Choose a country">
                <ui-select-match placeholder="{{$ctrl.placeholder}}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item.id as item in $root.item_comment | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div>
            <a class='app-btn' ng-click="$ctrl.add()"  ng-if="!$ctrl.newitem._id">Add</a>
            <a class='app-btn' ng-click="$ctrl.update()"  ng-if="$ctrl.newitem._id">Update</a>
            <a class='app-btn  delete-btn' ng-click="$ctrl.delete()" ng-if="$ctrl.newitem._id">Delete</a>
        </div>
    </div>
</div>