<div class="daily-series-container">
    <div class="form-container add-type-section">
        <div class="input-section">
            <label class="input-label">Name</label>
            <input type="text" placeholder="Type series name" ng-model="$ctrl.newit.name">
        </div>
        <a class='app-btn' ng-click="$ctrl.itList.add($ctrl.newit.name)" style="width:180px">Add IT</a>
    </div>

    <div class="form-container">

        <div class="input-section">
            <label>Series</label>
            <ui-select ng-model="$ctrl.val" style="width: 100px;" theme="select2" search-enabled="false"
                       title="Choose a country">
                <ui-select-match placeholder="{{$ctrl.placeholder}}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item._id as item in $ctrl.itList.rows | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

</div>