<div class="daily-series-container">
    <div class="form-container add-type-section">
        <div class="input-section">
            <label class="input-label">Name</label>
            <input type="text" placeholder="Type series name" ng-model="$ctrl.newseries.name">
        </div>
        <a class='app-btn' ng-click="$ctrl.seriesList.add($ctrl.newseries.name)" style="width:180px">Add Series</a>
    </div>

    <div class="form-container">
        <div class="input-section">
            <label class="input-label">daily id</label>
            <span>{{$ctrl.dailyitemid}}</span>
        </div>
        <div class="input-section">
            <label>Series</label>
            <ui-select ng-model="$ctrl.newseriesitem.seriesid" style="width: 100px;" theme="select2" search-enabled="false"
                       title="Choose a country">
                <ui-select-match placeholder="{{$ctrl.placeholder}}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item._id as item in $ctrl.seriesList.rows | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="input-section">
            <label class="input-label">Number</label>
            <input type="text" placeholder="number" ng-model="$ctrl.newseriesitem.num">
        </div>
        <div class="input-section">
            <label>Comment</label>
            <ui-select ng-model="$ctrl.newitem.comment" style="width: 100px;" theme="select2" search-enabled="false"
                       title="Choose a country">
                <ui-select-match placeholder="{{$ctrl.placeholder}}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item.id as item in $root.item_comment | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div>
            <a class='app-btn' ng-click="$ctrl.addItem()">Add Item</a>
        </div>
    </div>

</div>