body,
html,
.container-fluid {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-container {
  height: 100%;
  width: 100%;
}
.main-container .left {
  height: 100%;
  background-color: #333333;
}
.main-container .left ul {
  list-style: none;
  margin-top: 40px;
}
.main-container .left ul li {
  margin-bottom: 20px;
}
.main-container .left ul li a {
  width: 120px;
}
.main-container .edit-container {
  height: 100%;
  background-color: #339999;
}
.main-container .game-container {
  height: 100%;
  background-color: #ccffcc;
}
.image-container {
  position: relative;
  width: 400px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.image-container .difference {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  border: 12px solid #CC3333;
}
.image-container .difference_target {
  position: absolute;
  border-radius: 50%;
  border: 12px solid #336633;
  transition: all 0.5s ease;
  z-index: 99;
  width: 50px;
  height: 50px;
}
.image-container .nothing {
  width: 10px !important;
  height: 10px !important;
  border: 12px solid transparent;
}
