@font-face {
  font-family: 'sf medium';
  src: url(/fonts/SFUIText-Medium.ttf);
}
@font-face {
  font-family: 'sf regular';
  src: url(/fonts/SFUIText-Regular.ttf);
}
@font-face {
  font-family: 'sf semibold';
  src: url(/fonts/SFUIText-Semibold.ttf);
}
.view__bg_grey {
  background-color: #ccc;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.31);
}
