<div class="app-select-container">
  <label class="input-label">{{$ctrl.title}}</label>
  <span class="input-content" ng-if="$ctrl.editable">
      <ui-select ng-model="$ctrl.val" style="width: 100px;" theme="select2" search-enabled="false"
                 title="Choose a country">
          <ui-select-match placeholder="{{$ctrl.placeholder}}">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl.list | filter: $select.search">
              <span ng-bind-html="item.name | highlight: $select.search"></span>
          </ui-select-choices>
      </ui-select>
  </span>
  <span class="input-content" ng-if="!$ctrl.editable">
         {{$ctrl.showcol ? $ctrl.val[$ctrl.showcol] : $ctrl.getName($ctrl.val)}}
  </span>

</div>