.film-something-container textarea {
  width: 100%;
  height: 120px;
}
.film-something-container .btn {
  width: 100px;
  height: 30px;
  color: white;
  padding: 10px;
}
.film-something-container .btn-confirm {
  background-color: #006699;
}
.film-something-container .btn-cancel {
  background-color: #C2185B;
}
