<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../style/bootstrap.css" rel="stylesheet" />
    <link href="../../vendor/angular-datepicker/angular-datepicker.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="appCtrl as ctrl">

<div class="container">
    <div class="row">
        <input type="datetime" date-time auto-close="true" ng-model="date.starttime1" max-view="date"  format="yyyy-MM-dd HH:mm:ss" class="form-control"
                />
    </div>
    <div class="row">
        <input type="datetime" date-time auto-close="true" ng-model="date.starttime2" max-view="date"  format="yyyy-MM-dd HH:mm:ss" class="form-control"
                />
    </div>
    <div class="row">
        <input type="datetime" date-time auto-close="true" ng-model="date.starttime3" max-view="date"  format="yyyy-MM-dd HH:mm:ss" class="form-control"
                />
    </div>
</div>

</body>
<script src="../../vendor/jquery-1.11.1.js"></script>
<script src="../../vendor/angular.js"></script>
<script src="../../vendor/moment.js"></script>
<script src="../../vendor/angular-datepicker/angular-datepicker.js"></script>
<script>
    angular.module('app',['datePicker'])
            .controller('appCtrl', ['$scope', function($scope){
                $scope.date = {
                    starttime1: '',
                    starttime2: '',
                    starttime3: '',

                }
                $scope.$watch('date.starttime1',function(nv){
                    if(!nv) {
                        return false;
                    }
                    if(!(nv instanceof Date)) {
                        nv = new Date(nv);
                    }

                    var _date2 = moment(nv).startOf('day').hour(8).minute(0).seconds(0).milliseconds(0);
                    var _date3 = moment(nv).startOf('day').hour(22).minute(0).seconds(0).milliseconds(0);
                    $scope.date.starttime2 = _date2.toDate();
                    $scope.date.starttime3 = _date3.toDate();
                })
            }])
</script>
</html>