<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="../../style/bootstrap-table.css" rel="stylesheet"/>
    <link href="../../vendor/angular-datepicker/angular-datepicker.css" rel="stylesheet"/>
    <link href="../../vendor/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="../../style/ngDialog-css/ngDialog.css" rel="stylesheet" />
    <link href="../../style/ngDialog-css/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="style/select2.css" rel="stylesheet"/>
    <link href="style/select.css" rel="stylesheet"/>
    <link href="style/main.css" rel="stylesheet"/>
</head>
<body ng-app="app" ng-controller="MainController">

<div class="left-container">
    <div class="logo"></div>
    <ul  class="sidebar-nav">
        <li ng-repeat = 'nav in navs' class="menus-wrapper">
            <a href="{{nav.href}}"  ng-click="getSub(nav)">{{nav.title}}</a>
            <ul ng-if="nav.submenu" ng-class="{'nav-submenu': true, 'subactive': nav.opensub }">
                <li ng-repeat="sub in nav.submenu">
                    <a href="{{sub.href}}" ng-bind="sub.title" >
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="right-container">
    <ng-view></ng-view>
</div>

</body>
<script src="build/bundle.js"></script>

</html>