body,
html,
.container-fluid {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div {
  transition: all 0.5s ease;
}
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.mask {
  width: 520px;
  height: 500px;
  overflow: hidden;
}
.main-container {
  position: relative;
  width: 520px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}
.main-container .swipe-ul {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 1040px;
  padding: 0px;
  transition: all 0.5s ease;
}
.main-container .swipe-ul li {
  display: inline-block;
  width: 260px;
  height: 500px;
  vertical-align: top;
  position: relative;
  transition: all 0.5s ease;
}
.main-container .swipe-ul li:before {
  transition: all 0.5s ease;
}
.main-container .swipemove1 {
  left: 0px;
}
.main-container .swipemove2 {
  left: -260px;
}
.main-container .swipemove3 {
  left: -520px;
}
.footer-container {
  width: 250px;
  height: 30px;
}
.footer-container ul {
  list-style: none;
  width: 250px;
}
.footer-container li {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.footer-container a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #f7f7f7;
  background-color: #999999;
}
.footer-container a:hover {
  background-color: steelblue;
}
.footer-container .active {
  background-color: yellowgreen;
}
.box-container {
  margin-bottom: 30px;
}
.box-container .up-box,
.box-container .down-box {
  position: relative;
  width: 200px;
  height: 30px;
  background-color: #CCCC99;
  color: black;
  font-weight: bold;
  line-height: 30px;
  padding-left: 12px;
}
.box-container .up-box:after,
.box-container .down-box:after {
  width: 50px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #080808;
  content: attr(score);
  color: white;
  padding-left: 12px;
}
.box-container .up-box {
  border-bottom: 1px solid #CCCCCC;
}
.box-container .up-box:after {
  border-bottom: 1px solid #CCCCCC;
}
.box-container .up-box:before {
  content: '';
  position: absolute;
  left: -30px;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #CCCCCC;
}
.swipe-ul .down-box:before {
  content: '';
  position: absolute;
  height: 91px;
  width: 30px;
  left: -60px;
  top: -46px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
.swipe-ul .down-box1:before {
  height: 91px;
  top: -46px;
}
.swipe-ul .down-box2:before {
  height: 91px;
  top: -46px;
}
.swipe-ul .down-box3:before {
  height: 181px;
  top: -91px;
}
.swipe-ul .down-box4:before {
  height: 91px;
  top: -46px;
}
