* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.sidebar-nav {
  margin-left: 20px;
}
.sidebar-nav li {
  transition: all 0.5s ease;
}
.sidebar-nav a {
  color: white;
}
.sidebar-nav a:visited {
  color: white;
}
.sidebar-nav .logo-wrapper {
  height: 60px;
  line-height: 60px;
}
.sidebar-nav .menus-wrapper .nav-submenu {
  overflow: hidden;
  max-height: 0;
  margin-left: 10px;
  transition: all 0.8s ease;
}
.sidebar-nav .menus-wrapper .nav-submenu.subactive {
  overflow: hidden;
  display: block;
  max-height: 500px;
  background-color: #28342f;
  transition: all 0.8s ease;
}
#wrapper {
  transition: all 0.5s ease;
}
#wrapper #sidebar-wrapper {
  position: fixed;
  left: 250px;
  margin-left: -250px;
  width: 250px;
  height: 100%;
  background-color: #000;
  color: white;
  transition: all 0.5s ease;
}
#wrapper #page-content-wrapper {
  margin-left: 250px;
  height: 100%;
  transition: all 0.5s ease;
}
#wrapper.toggle #sidebar-wrapper {
  left: 0px !important;
}
#wrapper.toggle #page-content-wrapper {
  margin-left: 0px !important;
}
@media screen and (max-width: 768px) {
  #sidebar-wrapper {
    left: 0px !important;
  }
  #page-content-wrapper {
    margin-left: 0px !important;
  }
}
