html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: rgba(59, 159, 149, 0.6);
}
ul {
  list-style: none;
}
.container {
  position: relative;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 80px;
  min-height: 40%;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
}
.container .break {
  margin-bottom: 10px;
}
.container .row {
  margin-bottom: 30px;
}
.container .left-break .short-break {
  margin-left: 40px;
  border-top: 2px solid #999999;
}
.container .break-word {
  vertical-align: top;
  display: block;
  line-height: 0px;
  color: #3A9876;
}
.container .right-break .short-break {
  border-top: 2px solid #999999;
}
.container .resume-intro h2 {
  color: #3A9876;
}
.container .resume-intro ul {
  margin-top: 20px;
}
.container .resume-intro ul li {
  margin-bottom: 20px;
}
.container .resume-intro ul li label {
  display: block;
  color: #3A9876;
}
.container .resume-english svg.chart {
  width: 100%;
  height: 30px;
}
.container .resume-english svg.chart rect {
  fill: #3A9876;
}
.container .resume-english .english-wrapper {
  margin-top: 16px;
}
.container .resume-english .english-title {
  font-weight: bold;
  margin-left: 40px;
}
.container .resume-skill {
  padding-top: 10px;
}
.container .resume-skill .skill-wrapper .col-md-4 {
  margin-bottom: 10px;
}
.container .resume-skill .skill-wrapper .margin40 {
  margin-left: 40px;
}
.container .resume-skill .skill-wrapper .skill-title {
  width: 30%;
}
.container .resume-experience {
  margin-bottom: 10px;
}
.container .resume-experience .experience-wrapper ul {
  list-style: none;
  border-left: 2px solid steelblue;
  padding-left: 10px;
  position: relative;
}
.container .resume-experience .experience-wrapper ul li {
  display: block;
  position: relative;
}
.container .resume-experience .experience-wrapper ul li h3 {
  color: #3A9876;
}
.container .resume-experience .experience-wrapper ul li::after {
  box-shadow: 0 0 0 4px #3A9876;
  position: absolute;
  background: white;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  content: "";
  left: -15px;
  top: 0px;
}
.container .resume-experience .experience-wrapper ul li::before {
  left: -240px;
  top: 50%;
  position: absolute;
  content: attr(data-title);
  text-align: right;
  font-weight: bolder;
  font-size: 17px;
  min-width: 120px;
}
@media all and (max-width: 1000px) {
  .container .left-break .short-break {
    margin-left: 0px;
  }
  .container .break-word {
    padding: 0;
  }
  .container .resume-intro ul {
    padding: 0;
  }
  .container .resume-english .english-title {
    margin-left: 0px;
  }
  .container .resume-skill .skill-wrapper .margin40 {
    margin-left: 0px;
  }
  .container .resume-experience .experience-wrapper ul li::before {
    top: 0;
    right: 0;
    left: auto;
  }
}
