.view-container {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.box-header-title {
  height: 40px;
  width: 100%;
  font-size: 15px;
  line-height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}
.two-column-section {
  padding-bottom: 20px;
}
.two-column-section .box-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.two-column-section .box-row .box-label-group {
  padding-left: 20px;
  width: 150px;
}
.two-column-section .box-row .box-input-group {
  flex: 1;
  padding-right: 20px;
}
.two-column-section .box-row .box-input-group input,
.two-column-section .box-row .box-input-group textarea {
  padding: 5px 15px;
  width: 100%;
}
.layout__flex_c1 {
  flex: 1 ;
}
.layout__flex_400 {
  width: 400px;
}
.layout__flex_700 {
  width: 700px;
  z-index: 10;
}
.layout__flex_800 {
  width: 800px;
  z-index: 10;
}
.layout__flex_row {
  display: flex;
  flex-direction: row;
}
.layout__flex_column {
  display: flex;
  flex-direction: column;
}
.layout_fixed_rightconer {
  position: fixed;
  display: block;
  top: 20px;
  right: 20px;
}
.layout__growl {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  width: 400px;
}
