@font-face {
  font-family: 'sf-medium';
  src: url('../fonts/SFUIText-Medium.ttf');
}
@font-face {
  font-family: 'sf-regular';
  src: url('../fonts/SFUIText-Regular.ttf');
}
@font-face {
  font-family: 'sf-semibold';
  src: url('../fonts/SFUIText-Semibold.ttf');
}
.list__title_border {
  border-bottom: 2px solid #b6b6b6;
}
.list__item_padding {
  padding-bottom: 5px;
}
