@font-face {
  font-family: 'sf-medium';
  src: url('../fonts/SFUIText-Medium.ttf');
}
@font-face {
  font-family: 'sf-regular';
  src: url('../fonts/SFUIText-Regular.ttf');
}
@font-face {
  font-family: 'sf-semibold';
  src: url('../fonts/SFUIText-Semibold.ttf');
}
.text_deepblue {
  color: #303F9F;
}
.text_normalblue {
  color: #3F51B5;
}
.text_lightblue {
  color: #448AFF;
}
.text_linebreak {
  white-space: pre-line;
}
.text_bolder {
  font-weight: bolder;
}
