<div>
    <div class="quest__header_box flex__row">
        <div class="ribbon__content ribbon__extra"></div>
        <div class="ribbon__content flex__row_1">

        </div>
    </div>
    <div class="quest__view_box">
        <div class="quest__mask">
            <ul class="quest__container"
                ng-style="{'left': -1 * vm.position + '%'}">
                <li class="quest__item"
                    ng-repeat="quest in vm.quests">
                    {{quest}}
                </li>
            </ul>
        </div>

        <div class="quest__button_prev" ng-click="vm.prev()">Prev</div>
        <div class="quest__button_next" ng-click="vm.next()">Next</div>
    </div>
</div>

