<table class="table">
    <tr>
        <th class='list-table__th text_semibold text_16 text_grey'
            ng-repeat="header in $ctrl.list.headers"
            ng-style="{width: header.width }">
            <div ng-if="header.checkbox" class="app-checkbox">
                <input type="checkbox" id="thAll" ng-model="$ctrl.checkAll" ng-click="$ctrl.checkAllItem()"/>
                <label for="thAll"></label>
            </div>
                <span ng-if="!header.checkbox">
                    {{header.title}}
                </span>
        </th>
    </tr>
    <tr ng-repeat="item in $ctrl.list.data">
        <td class='list-table__td text_14 text_black' ng-repeat="header in $ctrl.list.headers"
            ng-style="{width: header.width, cursor: header.cursor }">
            <div ng-if="header.checkbox" class="app-checkbox">
                <input type="checkbox" id="td{{$parent.$parent.$index}}" ng-model="item.selected"
                       ng-click="check(item)"/>
                <label for="td{{$parent.$parent.$index}}"></label>
            </div>
            <span ng-if="!header.checkbox" ng-click="redirect(header, item)">
                <span
                      ng-class="{'text_blue': header.type=='href'}"
                      ng-style="{color: header.color}">
                    {{!isNull(item[header.name])?item[header.name]: header.nullMsg }}
                </span>
            </span>
        </td>
    </tr>
</table>


