.daily-detail-container .detail-items-section {
  display: flex;
}
.daily-detail-container .detail-items-section .daily-items-wrapper {
  flex: 1;
}
.daily-detail-container .detail-items-section .daily-items-wrapper ul {
  width: 100%;
}
.daily-detail-container .detail-items-section .daily-items-wrapper li {
  display: flex;
  text-align: center;
}
.daily-detail-container .detail-items-section .daily-items-wrapper li div {
  flex: 1;
}
.daily-detail-container .detail-items-section .new-item-wrapper {
  flex: 1;
}
.daily-detail-container .detail-items-section .type-item-wrapper {
  flex: 1;
}
