.daily-detail-container {
  .detail-items-section {
    display: flex;
    .daily-items-wrapper {
      flex: 1;
      table {
        width:100%;
      }

    }
    .new-item-wrapper,.type-item-wrapper {
      flex: 1;
      .app-input-container .input-label,.app-select-container .input-label {
        flex:0.3
      }
    }
    .type-item-wrapper {
      flex: 1;
    }
  }
}