.daily-detail-container {
  .detail-items-section {
    display: flex;
    .daily-items-wrapper {
      flex: 1;
      table {
        width:100%;

        tr {
          height:30px;
        }
      }

    }
    .new-item-wrapper,.type-item-wrapper {
      flex: 0.5;
      label {
        display: inline-block;
        width:70px;
      }
      input {
        width:180px;
      }
    }
    .type-item-wrapper {
      flex: 1;
    }
  }
}