.daily-detail-container .detail-items-section {
  display: flex;
}
.daily-detail-container .detail-items-section .daily-items-wrapper {
  flex: 1;
}
.daily-detail-container .detail-items-section .daily-items-wrapper table {
  width: 100%;
}
.daily-detail-container .detail-items-section .new-item-wrapper {
  flex: 1;
}
.daily-detail-container .detail-items-section .type-item-wrapper {
  flex: 1;
}
