<div class="daily-detail-container">
    <div class="header-section">
        <app-input type="date"  val="daily.date" title="" editable="control.detail_editable" ></app-input>
    </div>

    <div class="detail-items-section">
        <div class="daily-items-wrapper">
            <ul>
                <li ng-repeat="item in daily.items" >
                    <app-select type="text" val="item.type" list="daily_type"  editable="control.item_editable"></app-select>
                    <app-input type="text" val="item.time"  editable="control.item_editable"></app-input>
                    <app-input type="text" val="item.trophy"  editable="control.item_editable"></app-input>
                </li>
            </ul>
        </div>

        <div class="new-item-wrapper">
            <app-select list="daily_type" title='Type' val="daily.selectedtype" placeholder="select type"  editable="true"></app-select>
            <app-input  type="text" title="Time" val="newitem.time" placeholder="time" editable="true" ></app-input>
            <app-input  type="text" title="Trophy" val="newitem.trophy" placeholder="trophy" editable="true"></app-input>
            <a herf="javascript:void(0)" ng-click="daily.addItem(newitem)">Add</a>
        </div>
        <div class="type-item-wrapper" ng-switch="daily.selectedtype.id">
            <div ng-switch-when="series">
                aaaaaaa
            </div>
        </div>
    </div>

</div>