<div class="daily-detail-container">
    <div class="header-section">
        {{daily.date}}
    </div>

    <div class="detail-items-section">
        <div class="daily-items-wrapper">
            <table>
                <thead>
                   <tr>
                       <th style="width:20%">TYPE</th>
                       <th style="width:20%">TIME</th>
                       <th style="width:20%">TROPHY</th>
                       <th style="width:40%">CONTENT</th>
                   </tr>
                </thead>
                <tbody>
                   <tr ng-repeat="item in daily.items">
                       <td>
                           <a href="javascript:void(0)" ng-click="daily.getItem(item)"> {{item.type}}</a>
                       </td>
                       <td>
                           {{item.time}}
                       </td>
                       <td>
                           {{item.trophy}}
                       </td>
                       <td>
                           {{item.contentName}}
                       </td>
                   </tr>
                </tbody>
            </table>

        </div>

        <div class="new-item-wrapper">
            <div class="input-section">
                <label class="input-label">Type</label>
                <ui-select ng-model="daily.selectedtype" style="width: 100px;" theme="select2" search-enabled="false"
                           title="Choose a country">
                    <ui-select-match placeholder="{{$ctrl.placeholder}}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in daily_type | filter: $select.search">
                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div  class="input-section">
                <label class="input-label">Time</label>
                <input type="text" placeholder="time" ng-model="daily.newitem.time">
            </div>
            <div  class="input-section">
                <label class="input-label">Trophy</label>
                <input type="text" placeholder="trophy" ng-model="daily.newitem.trophy">
            </div>
            <div  class="input-section">
                <label class="input-label">Content</label>
                <input type="text" placeholder="content" ng-model="daily.newitem.content">
            </div>
            <a herf="javascript:void(0)" class="app-btn" ng-click="daily.addItem()" >{{daily.newitem._id ? 'Update': 'Add'}}</a>
            <a herf="javascript:void(0)" class="app-btn" ng-click="daily.newItem()" ng-if="daily.newitem._id">New</a>
        </div>
        <div class="type-item-wrapper" ng-switch="daily.selectedtype">
            <div ng-switch-when="series">
                <app-series-edit date="daily.date" dailyitemid="daily.newitem._id" newseriesitem="daily.newsub" ></app-series-edit>
            </div>
            <div ng-switch-when="book">
                <app-book-edit date="daily.date" dailyitemid="daily.newitem._id" newitem="daily.newsub" ></app-book-edit>
            </div>
            <div ng-switch-when="it">
                <app-it-edit  val="daily.newitem.content"></app-it-edit>
            </div>
            <div ng-switch-when="film">
                <app-film-edit ></app-film-edit>
            </div>
        </div>
    </div>

</div>