<div class="daily-detail-container">
    <div class="header-section">
        <app-input type="date" val="daily.date" title="" editable="control.detail_editable"></app-input>
    </div>

    <div class="detail-items-section">
        <div class="daily-items-wrapper">
            <table>
                <thead>
                   <tr>
                       <th style="width:30%">TYPE</th>
                       <th style="width:30%"> TIME</th>
                       <th style="width:30%">TROPHY</th>
                   </tr>
                </thead>
                <tbody>
                   <tr ng-repeat="item in daily.items">
                       <td>
                           <a href="javascript:void(0)" ng-click="daily.getItem(item)"> {{item.type}}</a>
                       </td>
                       <td>
                           {{item.time}}
                       </td>
                       <td>
                           {{item.trophy}}
                       </td>
                   </tr>
                </tbody>
            </table>

        </div>

        <div class="new-item-wrapper">
            <div>
                <label class="input-label">Type</label>
                <ui-select ng-model="daily.selectedtype" style="width: 100px;" theme="select2" search-enabled="false"
                           title="Choose a country">
                    <ui-select-match placeholder="{{$ctrl.placeholder}}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in daily_type | filter: $select.search">
                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>

            <app-input type="text" title="Time" val="daily.newitem.time" placeholder="time" editable="true"></app-input>
            <app-input type="text" title="Trophy" val="daily.newitem.trophy" placeholder="trophy" editable="true"></app-input>
            <a herf="javascript:void(0)" ng-click="daily.addItem()">Confirm</a>
            <a herf="javascript:void(0)" ng-click="daily.newItem()">New</a>
        </div>
        <div class="type-item-wrapper" ng-switch="daily.selectedtype">
            <div ng-switch-when="series">
                <app-series-edit date="daily.date" dailyitemid="daily.newitem._id" newseriesitem="daily.newsub"></app-series-edit>
                <!--<ng-include src="'interface/section/series.edit.html'"></ng-include>-->
            </div>
            <div ng-switch-when="book">
                <ng-include src="'interface/section/book.edit.html'"></ng-include>
            </div>

        </div>
    </div>

</div>