.list__horizon {
  float: left;
}
.list__space_right {
  margin-right: 20px;
}
.list__item-space_bottom {
  margin-bottom: 20px;
}
.list__item_after {
  position: absolute;
  top: 0;
  right: -11px;
  cursor: pointer;
}
.list__item_after:hover {
  color: red;
}
