@font-face {
  font-family: 'sf medium';
  src: url(/fonts/SFUIText-Medium.ttf);
}
@font-face {
  font-family: 'sf regular';
  src: url(/fonts/SFUIText-Regular.ttf);
}
@font-face {
  font-family: 'sf semibold';
  src: url(/fonts/SFUIText-Semibold.ttf);
}
.card__box {
  height: 150px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
}
.card__border_blue {
  border: 2px solid #0969a2;
  border-radius: 10px;
}
.context__card {
  flex: 1;
  min-width: 280px;
  max-width: 280px;
}
.context__card_active {
  background-color: #36d695;
  color: #03436a;
}
