@font-face {
  font-family: 'sf medium';
  src: url(../../../fonts/SFUIText-Medium.ttf);
}
@font-face {
  font-family: 'sf regular';
  src: url(../../../fonts/SFUIText-Regular.ttf);
}
@font-face {
  font-family: 'sf semibold';
  src: url(../../../fonts/SFUIText-Semibold.ttf);
}
.text__color_w {
  color: white;
}
.text__size_20 {
  font-size: 20px;
}
.text__size_18 {
  font-size: 18px;
}
