@font-face {
  font-family: 'sf medium';
  src: url(/fonts/SFUIText-Medium.ttf);
}
@font-face {
  font-family: 'sf regular';
  src: url(/fonts/SFUIText-Regular.ttf);
}
@font-face {
  font-family: 'sf semibold';
  src: url(/fonts/SFUIText-Semibold.ttf);
}
.list-header_box {
  position: relative;
  height: 126px;
  margin-left: 30px;
}
.list-header__title_box {
  position: absolute;
  top: 0px;
  float: left;
  height: 126px;
}
.list-header__name_box {
  margin-top: 20px;
}
.list-header__name-icon_box {
  padding: 0 8px 5px 0;
}
.list-header__tab_box {
  margin-top: 30px;
}
.list-header__tab-items_box {
  position: relative;
  z-index: 11;
}
.list-header__tab-item {
  display: block;
  float: left;
  margin-right: 40px;
  height: 30px;
  font-size: 16px;
}
.list-header__tab-item_active {
  border-bottom: 2px solid #0089BE;
}
.list-header__button-section_box {
  right: 0;
  top: 0;
  height: 126px;
  width: 130px;
  background-color: #009AD6;
  right: 0px;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
}
.list-header__button_box {
  margin: 0 auto;
}
.list-header__button-icon {
  background-image: url("../image/icons.png");
  background-position: -40px 0px;
  width: 26px;
  height: 24px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
