.dashboard-container {
  padding-left: 30px;
  padding-right: 30px;
}
.dashboard-container .content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.dashboard-container .seven-days-top-list {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  position: relative;
}
.dashboard-container .seven-days-top-list .header-section {
  font-size: 16px;
  margin-left: 0px;
  padding: 0px 20px;
}
.dashboard-container .seven-days-top-list .chart-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #3e8f3e;
  color: white;
}
.dashboard-container .seven-days-top-list .chart-button:hover {
  color: white;
}
.dashboard-container .seven-days-top-list .content-section {
  position: relative;
  overflow: hidden;
  padding: 0px 20px;
  min-height: 300px;
}
.dashboard-container .seven-days-top-list .chart-section {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 280px;
  height: 250px;
  z-index: 10;
  transition: all 0.3s ease;
}
.dashboard-container .seven-days-top-list .chart-section.active {
  left: 0px;
}
.dashboard-container .seven-days-top-list ul {
  width: 100%;
}
.dashboard-container .seven-days-top-list li {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.dashboard-container .seven-days-top-list label {
  flex: 1;
}
