<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../style/bootstrap.css" rel="stylesheet"/>
    <link href="../../style/bootstrap-theme.css" rel="stylesheet"/>
    <link href="style/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container" ng-app="app" ng-controller="appCtrl">
    <div class="row resume-intro">
        <div class="col-md-4">
            <ul>
                <li>
                    <label>BORN ON</label>
                    <span  ng-bind="resume.birthday"></span>
                </li>
                <li>
                    <label>MOBILE</label>
                    <span  ng-bind="resume.mobile"></span>
                </li>
                <li>
                    <label>EMAIL</label>
                    <span ng-bind="resume.email"> </span>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2 ng-bind="resume.name"></h2>
            <div ng-bind="resume.intro"></div>
        </div>
    </div>

    <div class="row break">
        <div class="col-md-4 left-break">
            <div class="short-break"></div>
        </div>
        <div class="col-md-2 break-word">ENGLISH</div>
        <div class="col-md-6 right-break">
            <div class="short-break"></div>
        </div>
    </div>

    <div class="row resume-english">
        <div ng-repeat="e in resume.english" class="english-wrapper">
            <div class="col-md-4 ">
                <div class="english-title"  ng-bind="e.name.toUpperCase()"></div>
            </div>
            <div class="col-md-8 english-chart">
                <svg class="chart" >
                    <g transform="translate(0,0)">
                        <rect width="{{e.detail * 20 + '%'}}" height="19"></rect>
                    </g>
                </svg>
            </div>
        </div>
    </div>

    <div class="row break">
        <div class="col-md-4 left-break">
            <div class="short-break"></div>
        </div>
        <div class="col-md-2 break-word">SKILL</div>
        <div class="col-md-6 right-break">
            <div class="short-break"></div>
        </div>
    </div>

    <div class="row resume-skill">
        <div ng-repeat="k in resume.skill" class="skill-wrapper">
            <div class="col-md-4" >
                <div ng-class="{true:'margin40',false:''}[$index%3==0]">
                    <label class="skill-title">{{k.name}}</label>
                    <span class="skill-chart">
                        <svg height="10" width="100">
                            <g ng-repeat="c in getNumber(5) track by $index">
                                <circle cx="{{5 + $index*20}}" cy="5" r="5" fill="#999999" />
                            </g>

                            <g ng-repeat="d in getNumber(k.detail)  track by $index">
                                <circle cx="{{5 + $index*20}}" cy="5" r="5" fill="#3A9876" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row break">
        <div class="col-md-4 left-break">
            <div class="short-break"></div>
        </div>
        <div class="col-md-2 break-word">EXPERIENCE</div>
        <div class="col-md-6 right-break">
            <div class="short-break"></div>
        </div>
    </div>

    <div class="row resume-experience">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
    </div>
</div>
</body>
<script src="../../vendor/jquery-1.11.1.js"></script>
<script src="../../vendor/angular.js"></script>
<script src="../../vendor/bootstrap.js"></script>
<script src="../../vendor/loading-bar.js"></script>
<script>
    angular.module('app', [])
            .controller('appCtrl', ['$scope', '$http',  function ($scope, $http) {
                $scope.resume = {};

                $scope.getNumber = function(num) {
                    num = parseInt(num);
                    return new Array(num);
                }

                $http.get('data/demo.json')
                        .then(function (response) {
                            console.log(response.data);
                            $scope.resume = response.data;
                        })
            }])
</script>
</html>