<div>
    <div>
         <label style="display:inline-block;width:100px;">Name</label>
         <input ng-model="user.username" type="text" style="width:200px;"/>
    </div>
    <div>
        <label  style="display:inline-block;width:100px;">Password</label>
        <input ng-model="user.password" type="text"  style="width:200px;"/>
    </div>
    <div>
        <button ng-click="login()">LOGIN</button>
    </div>
    <div>
        <button ng-click="loginUnSave()">LOGIN UNSAVE</button>
    </div>
</div>