<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../style/bootstrap.css" rel="stylesheet"/>
    <link href="../../style/bootstrap-theme.css" rel="stylesheet"/>
    <link href="style/main.css" rel="stylesheet"/>
</head>
<body ng-app="app" ng-controller="appCtrl">
    <div class="container">
      <div class="row">
           <div class="col-sm-3 col-sm-offset-1 button_container">
               <a class="btn btn-default" ng-click="add()">Add</a>
           </div>
      </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 chart_container"  ng-repeat="item in items">
                <select  ng-model="item.typeId"
                         ng-options="dt.id as dt.name for dt in dataType"
                         ng-change="setChart(item, $index)"
                        >
                </select>

                <highchart config="item.config"></highchart>

            </div>

        </div>
    </div>
</body>
</html>
<script src="../../vendor/jquery-1.11.1.js"></script>
<script src="../../vendor/angular.js"></script>
<script src="../../vendor/angular-sanitize.js"></script>
<script src="../../vendor/bootstrap.js"></script>
<script src="../../vendor/paging.js"></script>
<script src="../../vendor/ng-lodash.js"></script>
<script src="../../vendor/angular-route.js"></script>
<script src="../../vendor/highcharts.src.js"></script>
<script src="../../vendor/highcharts-ng.js"></script>
<script src="scripts/app.js"></script>
<script src="services/charservices.line.service.js"></script>
<script src="scripts/controller.js"></script>
<script>

</script>