<div class="form-group app-key">
    <div>
        <label class="col-md-4 control-label" >{{title}}</label>
        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="newTag"
                   name="tag"/>
        </div>
        <div class="col-md-1" >
            <button class="btn btn-default" ng-click="addTag()">Click</button>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class='coupons-box-label' ng-repeat=" tag in val">
            <span ng-bind="tag"></span>
            <span class="coupons-box-label-close" ng-click="delete(tag)">x</span>
            <!--<span class='closewindow' ng-click='DelTagLabel(tag)'>x</span>-->
        </div>
    </div>
</div>
